.border-white {
    border-right: 10px solid white;
    border-left: 10px solid white;
}

.text-white, .log-a {
    color: white !important;
}

.bg-login-form {
    background-color: white;
}

hr.rounded {
    border-top: 4px solid rgb(0, 123, 255);
    border-radius: 5px;
  }

.align-bottom-right{
    bottom: 0;
    right: 0;
    position: absolute;
}